.footer{
    
    background-color: white;
}
.footer-link{
    
    width: 980px;
    margin: auto;
    padding: 20px;
}
.footer-link a{
    
    text-decoration: none;
    padding: 2px;
    color:#8a8d91;
 
}
.facebook-2020{
    
    width: 980px;
    margin: auto;
    padding: 20px;
}
.facebook-2020 a{
    
    text-decoration: none;
    padding: 2px;
    color:#8a8d91;
 
}